<div class="row">
  <div class="col-4 offset-4">
    <h1>Edit User: <%= @user.name %></h1>

    <%= render "form", user: @user %>

    <br>

    <div>
      <%= link_to "Back to users", admin_users_path %>
    </div>
  </div>
</div>