<div class="row">
  <div class="col-10 offset-1">
    <p style="color: green"><%= notice %></p>

    <h1>Manage Users</h1>

    <table class="table table-borderd table-hover">
      <thead>
        <tr>
          <th></th>
          <th>ID</th>
          <th>Admin?</th>
          <th>Email</th>
          <th>Name</th>
        </tr>
      </thead>

      <% @users.each do |user| %>
        <%= render user %>
      <% end %>
    </div>

  </div>
</div>